:root {
    --black_color: black;
    --border_width: 1px;
    --common_margin: 1rem;
}



nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img {
    width: 150px;
    height: auto;
    border: var(--border_width) solid var(--black_color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: var(--common_margin);
    border: 0.1px solid var(--black_color);
    padding: 1rem;
    background-color: aquamarine;
    color: darkslategrey;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: var(--common_margin);
    border-top: var(--border_width) dotted var(--black_color);
    text-align: center;
}